.livestrong{
    margin-top:75px;
    margin-left:9%;
    margin-right:9%;
    text-align:center;
    font-size:2vmin;
}
.my-images{
    
    text-align:center;
    display:inline;
    padding-left:15%;
    padding-right:10%;
    padding-bottom:10%;
    padding-top:10%;
}

.my-images img{
    display:inline;
    height:auto;
    position:relative;
    max-height:300px;
    
}
.modal-header h4{
    text-align:center;
    font-weight:bold;
}
/*.header-container{
    display:flex;
    height:10%;
    max-height:10%;
    min-height:5%;
    width:100%;
    background-color:black;
    position:fixed;
}



.header-container-top{
    display:block;
    height:10%;
    max-height:10%;
    min-height:5%;
    width:100%;
    
    position:fixed;
}*/

.dropdown-menu img{
    height:25px;
    width:25px;
}

.full-background{
    max-height:100%;
    width:100%;
    background-color:black;
}

.navbar-brand img{
    display:block;
    margin-top:-10px;
    margin-left:10px;
    max-width:50%;
    max-height:60px;
    min-width:200px;    
}


.header-container img{
    display:block;
    position:fixed;
    max-width:100%;
    max-height:80px;
    min-height:50px;
}

/*.brand{
   height:100%;
   max-width:100%;
   position:relative;
}*/
.navbar-brand img{
    display:block;
    margin-top:-12.5px;
    margin-left:15px;
    max-width:50%;
    max-height:45px;
    min-width:200px;
    
    /*width:300px;*/
    position:fixed;
    height:auto;
}



.picture-container{
    background:url(/images/frame.png);
    padding-top:175px;
    
}
.panoramic {
    padding-top:75px;
    background-color:black;
}

.panoramic-container a{
    background-color:black;
    margin-top:75px;
}


.panoramic-2 {
    background-color:black;
   
}
.panoramic-2 img{
    text-align:center;
    padding-right:30px;
    padding-left:30px;
    /*margin-top:60px;*/
    width:100%;
    /*border-color:white;*/
    
}


.panoramic form{
    font-size:1em;
    
}

.well{
    margin-left:30px;
    margin-right:30px;
    font-size:2vmin;
    
}

.well h1{
    text-align:center;
    font-size:2.5vmin;
    font-weight:bold;
}
.well h2{
    font-size:2.2vmin;
}

.panoramic-container{
    /*padding-top:75px;*/
    background-color:white;
}

.panoramic img{
    text-align:center;
    padding-right:30px;
    padding-left:30px;
    /*margin-top:60px;*/
    width:100%;
    /*border-color:white;*/
    
}

.card-block{
    text-align:center;
}

/*.about {
    text-align:center;
    margin-top:100px;
    height:217px;
    width:217px;
}*/
.about img{
    margin-top:150px;
    text-align:center;
    height:150px;
    width:150px;
}


.img-circle.hor {
    
    position: absolute;
    left: 50%;
    border-radius:50%;
    max-height:75px;
    width: auto;
    height: auto;
    transform: translateX(-50%);
 }

/* .footer{
    max-height:150px;
    width:100%;
    background-color:#333333;
    position:relative;
    bottom:0;

 }*/
 
 .social{
    max-height:50px;
    background-color:#333333;
    text-align:right;
    display:block;
    position:relative;
    bottom:0;
    width:100%;
    padding:0;
    margin-right:0;
    

 }
 .social img{
     
     max-width:3vmax;
     max-height:3vmax;
     
     height:auto;
     display:inline-block;
     list-style: none;
     position:relative;
     background-color:#333333;
     width:100%;
     padding:0;
 }
 
.footer {
    /*clear: both;*/
    position: relative;
    margin-left:-10px;
    margin-right:10px;
    height: 15px;
    
    width:100%;
}

.copyright{
    margin-left:10%;
    text-align:left;
    
}
.copyright h5{
    font-size:1.5vmin;
}



/*landscape page*/

.landscape{
    text-align:center;
    margin-top:6em;
}

.landscape img{
    height:auto;
    text-align:center;
}
.landscape2{
    text-align:center;
    margin-top:.5em;
}

.landscape2 img{
    height:auto;
    text-align:center;
}

.pano-description {
    position:relative;
    padding-top:10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:10%;
    display:block;
}
.pano-description h1 {
    margin-top:200px;
    text-align:center;
    font-size:2em;
    
}

.pano-description h2{
    font-size:1.5em;
    text-align:center;
}

.pano-description p{
    font-size:1em;
    text-align:center;
}

.single-panoramic {
    background-color:black;
    padding-top:75px;
    height:100%;
}

.pano-image {
    position:absolute;
    margin-top:60px;
}

/*cover letter*/

.cover-letter body{
   
}

.cover-letter h1 {
    text-align: left;
    font-size:2em;
    margin-top:80px;
    margin-left:15px;
}

.cover-letter h2 {
    text-align: left;
    font-size:1em;
    margin-left:15px;
}

.cover-letter p {
    text-align:left;
    font-size:12pt;
    margin: 0 30px 50px 30px;
}
.cover-letter ul {
    margin-top:0;
    margin-left:30px;
}

.cover-letter h3 {
    font-size:12pt;
    font-weight:bold;
    margin-left:30px;
    margin-right:30px;
}